:root {
  --red: #EF233C;
  --darkerRed: #D90429;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
h3 {
  padding-bottom: .5em;
  text-shadow: 0 -1px 0 rgba(0,0,0,4);
}
h4 {
  margin: 1em auto;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* NAVBAR */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.5em;
  margin-bottom: 1.5em;
}
#brand-name {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  margin-left: .5em;
  color: var(--red);
}
.hamburger {
  display: none;
}
.logo {
  position: absolute;
  left: 1em;
}
nav ul {
  list-style: none;
  margin: auto;
}
nav ul li {
  float: left;
  margin: 0 .5em;
}
nav ul li a {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--red);
}
nav ul li a:hover {
  color: var(--darkerRed);
}
/* MAIN SECTION */
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 12px;
  padding-bottom: 1em;
  margin-bottom: 3em;
  border-bottom: 1px solid #ddd;
}
.row {
  display: flex;
}
.col-1,
.col-4,
.col-6 {
  width: 960px;
  height: 300px;
  background-image: url('/assets/img/shoes-kids.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}
/* .col-1:hover,
.col-4:hover,
.col-6:hover {
  opacity: .8;
} */
.col-1 .text,
.col-4 .text,
.col-6 .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  color: #fff;
}
.text h2 {
  text-shadow: 0 3px 0 rgba(0,0,0,.5);
}
.col-4 {
  flex: 33.3%;
}
.col-4:first-child {
  background-image: url('/assets/img/fashion-women.jpg');
}
.col-4:nth-child(2) {
  margin: 0 12px;
  background-image: url('/assets/img/feet.jpg');
}
.col-4:last-child {
  background-image: url('/assets/img/handbag.jpg');
}
.col-6 {
  flex: 50%;
}
.col-6:first-child {
  margin-right: 6px;
  background-image: url('/assets/img/feet-on-air.jpg');
}
.col-6:last-child {
  margin-left: 6px;
  background-image: url('/assets/img/brown-shoes.jpg');
}
.btn-link {
  padding: .5em 1.5em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  border-radius: 5px;
  border-color: #fff;
  background-image: linear-gradient(#fff, #dbdbdb);
  background-repeat: repeat-x;
  text-shadow: 0 1px 0 rgba(255,255,255,.9);
  width: 150px;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.btn-link:hover {
  background-image: linear-gradient(#ededed, #dbdbdb);
}
/* CTA */
.cta {
  text-align: center;
  margin-bottom: 2em;
}
.cta h2 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: .5em;
}
.btn {
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  border-color: var(--red);
  border-radius: 5px;
  background-image: linear-gradient(var(--red), var(--darkerRed));
  background-repeat: repeat-x;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
  width: 300px;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  background-image: linear-gradient(#cf2c30, var(--darkerRed));
}
/* FOOTER */
footer {
  background: var(--darkerRed);
  color: #fff;
  padding: 1em 2em .5em;
}
footer p {
  margin-bottom: .25em;
}
footer ul {
  list-style: none;
}
footer li {
  margin: 5px auto;
}
footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  cursor: pointer;
}
footer a:hover {
  text-decoration: underline;
}
i {
  margin: 1em 2px 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
i:hover {
  color: var(--red);
  background: #fff;
}
.flex-container{
  display:flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.item {
  font-size: 12px;
  text-decoration: none;
}
.flex-container-2{
  display:flex;
  justify-content: flex-start;
  flex-flow: row-reverse;
  font-size: 12px;
}
.value {
  margin-bottom: 1em;
}

@media screen and (max-width: 560px) {
  header {
    margin: 1em 0;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 0;
    margin-top: 0;
    margin-right: .5em;
  }
  .rotate {
    transform: rotate(-45deg);
  }
  nav {
    position: absolute;
    top: 4em;
    z-index: 1;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
  }
  nav.active {
    transform: translateX(0%);
  }
  nav ul li {
    float: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1em;
    background:var(--red);
  }
  nav ul li a {
    color: #fff;
  }
  .btn-link {
    width: 110px;
    padding: 0;
  }
  .flex-container {
    flex-flow: column wrap;
  }
  footer h4 {
    margin: 1em auto;
    font-weight: 600;
    font-size: 1.1em;
  }
}




