:root {
  --red: #EF233C;
  --darkerRed: #D90429;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
.container {
  width: 960px;
  margin: 0 auto;
}
/* NAVBAR */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2em 2em 0;
  margin-bottom: 1.5em;
}
.logo {
  position: absolute;
  left: 1em;
}
nav ul {
  list-style: none;
  margin: auto;
}
nav ul li {
  float: left;
  margin: 0 .5em;
}
nav ul li a {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--darkerRed);
}
nav ul li a:hover {
  color: var(--red);
}
/* MAIN SECTION */
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 12px;
  padding-bottom: 1em;
  margin-bottom: 3em;
  border-bottom: 1px solid #ddd;
}
.row {
  display: flex;
}
.col-4 {
  flex: 33.3%;
}
.col-4:nth-child(2) {
  margin: 0 12px;
}
.col-6 {
  flex: 50%;
}
.col-6:first-child {
  margin-right: 6px;
}
.col-6:last-child {
  margin-left: 6px;
}
/* CTA */
.cta {
  text-align: center;
  margin-bottom: 3em;
}
.cta h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: .5em;
}
.btn {
  padding: 1em 2em;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  border-color: var(--red);
  border-radius: 5px;
  background-image: linear-gradient(var(--red), var(--darkerRed));
  background-repeat: repeat-x;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
  width: 300px;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  background-image: linear-gradient(#ED132C, #C80425);
}





/* FOOTER */
footer {
  background: var(--red);
  padding: 2em;
}
.flex-container{
  display:flex;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: #cf2c30;
  color:white;
  padding: 30px 60px 0 30px;
}

.item {
  font-size:8px;
  text-decoration: none;
}

li, ul{
  list-style: none;
}

.flex-container-2{
  display:flex;
  justify-content: flex-start;
  flex-flow: row-reverse;
  font-size: 8px;
  background-color: #cf2c30;
  color:white;
  padding: 0 60px 0 30px;
}

.icon-social {
  width: 10px;

}

